{% extends 'base.html' %}
% load_static %}
{% block body %}
<div class="container-fluid" style="display:flex;">
<div class="col-sm-12">
    <div class=row>
    <div class="col-sm-6">
        {% for bak in bank|slice:":1" %}
Ledger: {{bak.date.account}}

{% endfor %}
    </div>
    <div class="col-sm-6" style="text-align:right;">
        1-Apr-2022

    </div>




</div>
<div class="row">
    <div class="col-sm-12" style="text-align:center;">
      <b>  (Bank not Configured for Cheque Printing)</b>
    </div>

</div>

<div class="table-responsive">

<table  class="table table-responsive-md table-hover mt-4">
 <thead>   <tr>
    <th>Select</th>
        <th >
            Date

        </th>
        <th>
            Particulars
        </th>
        <th>
            Insturment No:

        </th>
        <th>
            Insturment Date:

        </th>
        <th>
            Printed?
            
        </th>
        <th>
            Amount
            
        </th>
    </tr>
</thead>
<tbody>
    {% for bank in bank %}
    <tr>
        <td>
            <input type="checkbox" id="bk" name="vehicle" onClick="checkbox();" value={{bank.amount.amount}}>
        </td>
        <td>
            {{bank.date.date}}
        </td>
        <td>
        <a href="{% url 'voucher' bank.id %}">  {{bank.amount.particualrs}}</a> 
        </td>
        <td>
            {{bank.instno}}
            
        </td>
        <td>
            {{bank.instdate}}
        </td>
        <td>
            No
             
           
        </td>
        <td >
            {{bank.amount.amount}}
        </td>
    </tr>
    {% endfor %}
 
    <tr>
       
        <td class="total-column" colspan="6">
        Selected Total
        </td>
        <td>  <p style="color:white"  id="show" name="vehicle"></p><br></td>
    </tr>
    <tr>
        <td class="total-column" colspan="6">
        Total
        </td>
        <td>
                   
          {{sum}}
        </td>
        
    </tr>

</tbody>
</table>



</div>

</div>
</div>




 {% endblock %}