{% extends 'base.html' %}
% load_static %}
{% block body %}

<div  >
    <table style="width:100%;margin:auto;" >
<thead >
  <tr >
      <th rowspan="4" colspan="4" style=" border: 1px solid #fff;border-collapse: collapse; padding: 15px;">Particulars</th>
     


  </tr>
  <tr  >
    {% for bak in bak|slice:":1" %}
    
    
 
    <th style=" border: 1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;" colspan="4">{{bak.ledger.name}}<br> Company name <br>Current Financial Year : {{s}} to {{new}}</th>   
    {% endfor %}
  </tr>


  <tr>
    <th style=" border: 1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;" colspan="2">Recived</th>
    <th style=" border: 1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;" colspan="2">Issued</th>

  </tr>
  <tr style=" border: 1px solid #fff;border-collapse: collapse;">
    <th style=" border: 1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;" >Amount</th>
    <th style=" border: 1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">Count</th>
    <th style=" border: 1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">Amount</th>
    <th style=" border: 1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">Count</th>
  </tr>








</thead>
<tbody>
    
    <tr>
        <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
           May
        </td>


        <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
            {{total.5}}

        </td>
        <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
            {{month.5}}
        </td>
        <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
          {{newtotal.5}}
        </td> 
        <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
          {{newmonth.5}}
        </td>
    </tr>
    <tr>
      <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
        <a href="{% url 'getjune' id %}">June</a> 

      </td>


      <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
        {{total.6}}

      </td>
      <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
        {{month.6}}
      </td>
      <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
        {{newtotal.6}}
      </td> 
      <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
        {{newmonth.6}}
      </td>
  </tr>
  <tr>
    <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
      <a href="{% url 'getjuly' id %}">July</a> 
    </td>


    <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
      {{total.7}}

    </td>
    <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
      {{month.7}}
    </td>
    <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
      {{newtotal.7}}
    </td> 
    <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
      {{newmonth.7}}
    </td>
</tr>
<tr>
  <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
      august

  </td>


  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{total.8}}

  </td>
  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{month.8}}
  </td>
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newtotal.8}}
  </td> 
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newmonth.8}}
  </td>
</tr>
<tr>
  <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
      september

  </td>


  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{total.9}}

  </td>
  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{month.9}}
  </td>
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newtotal.9}}
  </td> 
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newmonth.9}}
  </td>
</tr>
<tr>
  <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
     october

  </td>


  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{total.10}}

  </td>
  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{month.10}}
  </td>
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newtotal.10}}
  </td> 
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newmonth.10}}
  </td>
</tr>
<tr>
  <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
     november

  </td>


  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{total.11}}

  </td>
  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{month.11}}
  </td>
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newtotal.11}}
  </td> 
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newmonth.11}}
  </td>
</tr>
<tr>
  <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
    december

  </td>


  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{total.12}}

  </td>
  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{month.12}}
  </td>
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newtotal.12}}
  </td> 
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newmonth.12}}
  </td>
</tr>
<tr>
  <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
      january

  </td>


  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{total.1}}

  </td>
  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{month.1}}
  </td>
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newtotal.1}}
  </td> 
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newmonth.1}}
  </td>
</tr>
<tr>
  <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
      feburary

  </td>


  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{total.2}}

  </td>
  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{month.2}}
  </td>
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newtotal.2}}    
  </td> 
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newmonth.2}}
  </td>
</tr>
<tr>
  <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
      march

  </td>


  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{total.3}}

  </td>
  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{month.3}}
  </td>
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newtotal.3}} 
  </td> 
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newmonth.3}} 
  </td>
</tr>
<tr>
  <td colspan="4"  style=" border-left: 1px solid #fff;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: left;">
     april

  </td>


  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{total.4}}

  </td>
  <td style="border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{month.4}}
  </td>
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newtotal.4}}
  </td> 
  <td style=" border-left:0px;border-bottom:1px solid #fff;border-collapse: collapse; padding: 15px;text-align: center;">
    {{newmonth.4}}
  </td>
</tr>

 
</tbody>

</table>
</div>

















{% endblock %}